{% set lightBoxParam = useLightBox is defined and useLightBox is not empty ? useLightBox : pimcore_checkbox('use_light_box').isChecked() %}
{% set useLightBox = lightBoxParam and editmode == false %}
{% set hasLink = pimcore_dynamiclink('link').isEmpty() == false %}
{% set linkTarget = hasLink ? pimcore_dynamiclink('link').getTarget() : null %}

<div class="single-teaser default {{ useLightBox ? 'light-box' : '' }}">

    {{  editmode == false and useLightBox
        ? ('<a href="' ~ pimcore_image('image').getThumbnail(toolbox_get_image_thumbnail('teaser_lightbox')) ~ '" class="item">')|raw
        : (editmode == false and hasLink ? '<a href="' ~ pimcore_dynamiclink('link').getHref() ~ '" ' ~ (linkTarget is not empty ? 'target="' ~ pimcore_dynamiclink('link').getTarget() ~ '"' : '') ~ ' class="item">' : '')|raw
    }}

    {{ pimcore_image('image', {'thumbnail' : toolbox_get_image_thumbnail('teaser_element'), 'class' : 'img-responsive'}) }}

    {{ editmode == false and (useLightBox or hasLink) ? '</a>' : '' }}

    <h3 class="teaser-headline">{{ pimcore_input('headline') }}</h3>

    <div class="teaser-text">
        {{ pimcore_wysiwyg('text', {'height' : 100, 'customConfig' : '/admin/toolbox-ckeditor-style.js'}) }}
    </div>

    {{ pimcore_dynamiclink('link', {'class' : 'btn btn-default teaser-link'}) }}

</div>
