{% set lightBoxParam = useLightBox is defined and useLightBox is not empty ? useLightBox : pimcore_checkbox('use_light_box').isChecked() %}
{% set useLightBox = lightBoxParam and editmode == false %}

{% set linkElement = pimcore_link('link') %}
{% set hasLink = linkElement.isEmpty() == false %}
{% set linkElementData = hasLink ? linkElement.data : [] %}
{% set link = hasLink ? linkElement.href : null %}
{% set linkTarget = hasLink and linkElementData.target is defined ? linkElement.target : null %}

<div class="single-teaser default {{ useLightBox ? 'light-box' : '' }}">

    {{ editmode == false and useLightBox
        ? ('<a href="' ~ pimcore_image('image').getThumbnail(toolbox_get_image_thumbnail('teaser_lightbox')) ~ '" class="item">')|raw
        : (editmode == false and hasLink ? '<a href="' ~ link ~ '" ' ~ (linkTarget is not empty ? 'target="' ~ linkTarget ~ '"' : '') ~ ' class="item">' : '')|raw
    }}

    {{ pimcore_image('image', {'thumbnail' : toolbox_get_image_thumbnail('teaser_element'), 'class' : 'img-responsive'}) }}

    {{ editmode == false and (useLightBox or hasLink) ? '</a>' : '' }}

    <h3 class="teaser-headline">{{ pimcore_input('headline') }}</h3>

    <div class="teaser-text">
        {{ pimcore_wysiwyg('text', {'height' : 100, 'customConfig' : toolbox_get_ckeditor_config_path()}) }}
    </div>

    {{ pimcore_link('link', {'class' : 'btn btn-default teaser-link'}) }}
</div>
