{% import '@Toolbox/Macro/wrap.html.twig' as wrap_macro %}
{{ elementConfigBar|raw }}
<div class="toolbox-element toolbox-headline {{ additionalClassesData|join(' ') }}">
    {{ wrap_macro.createWrapHead(elementThemeConfig) }}
    {% if anchorName is not empty %}
        <a class="toolbox-anchor" id="{{ anchorName }}"></a>
    {% endif %}
    {% include toolbox_area_path(areaId) %}
    {{ wrap_macro.createWrapFoot(elementThemeConfig) }}
</div>
