{% import '@Toolbox/Macro/wrap.html.twig' as wrap_macro %}
{{ elementConfigBar|raw }}
<div class="toolbox-element toolbox-headline {{ pimcore_select('addlCls').getData() }}">
    {{ wrap_macro.createWrapHead(elementThemeConfig) }}
    {% if anchorName is not empty %}
        <a id="{{ anchorName }}"></a>
    {% endif %}
    {% include '@Toolbox/Toolbox/' ~ elementThemeConfig.layout ~ '/Headline/view.html.twig' %}
    {{ wrap_macro.createWrapFoot(elementThemeConfig) }}
</div>