{% import '@Toolbox/Macro/wrap.html.twig' as wrap_macro %}
{{ elementConfigBar|raw }}
<div class="toolbox-element toolbox-slide-columns {{ additionalClassesData|join(' ') }} {{ equalHeight ? 'equal-height' : '' }}">
    {{ wrap_macro.createWrapHead(elementThemeConfig) }}
    {% include toolbox_area_path(areaId) %}
    {{ wrap_macro.createWrapFoot(elementThemeConfig) }}
</div>