<div class="parallax-section template-{{ template }} {{ backgroundColorClass }}" {{ backgroundTags }} data-loop-index="{{ loopIndex }}" data-section-index="{{ sectionIndex }}" data-template="{{ template }}">
    {{ content|raw }}
</div>