<div class="panel-group" id="{{ id }}" role="tablist" aria-multiselectable="true">

    {% for i in pimcore_iterate_block(panel) %}

        <div class="panel {{ type }}">

            <div
                    class="panel-heading collapsed"
                    data-toggle="collapse"
                    data-parent="#{{ id }}"
                    data-target="#panel-{{ id }}-{{ panel.getCurrentIndex() }}">

                {% include toolbox_area_path(areaId, 'Partial/Accordion/title') %}

            </div>

            <div id="panel-{{ id }}-{{ panel.getCurrentIndex() }}" class="panel-collapse collapse {{ editmode ? 'in' : '' }}">

                <div class="panel-body">
                    {% include '@Toolbox/Helper/areablock.html.twig' with {'name': 'accord', 'type' : 'accordion'} %}
                </div>

            </div>

        </div>

    {% endfor %}

</div>