{% set tabContent = [] %}
<div class="tabs" id="{{ id }}">
    <ul class="nav nav-tabs list-unstyled" role="tablist">
        {% for i in pimcore_iterate_block(panel) %}
            <li role="presentation" class="{{ type }} {{ panel.currentIndex == '1' ? 'active' : '' }}">
                {% if editmode %}
                    {{ pimcore_input('name') }}
                    <div class="tab-content">
                        {% include '@Toolbox/Helper/areablock.html.twig' with {'name': 'accord', 'type' : 'accordion'} %}
                    </div>
                {% else %}
                    <a href="#tab-{{ id }}-{{ panel.currentIndex }}" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="{{ loop.first ? 'true' : 'false' }}">
                        {{ pimcore_input('name').data }}
                    </a>
                    {% set content %}
                        {% include '@Toolbox/Helper/areablock.html.twig' with {'name': 'accord', 'type' : 'accordion'} %}
                    {% endset %}
                    {% set tabContent = tabContent|merge([{ 'index': panel.currentIndex, 'content': content}]) %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if editmode == false %}
        <div class="tab-content">
            {% for tab in tabContent %}
                <div role="tabpanel" class="tab-pane fade {{ loop.index == '1' ? 'active in' : '' }}" id="tab-{{ id }}-{{ tab.index }}">
                    {{ tab.content }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
