<div class="accordion" id="{{ id }}" role="tablist" aria-multiselectable="true">
    {% for i in pimcore_iterate_block(panel) %}
        <div class="card {{ type }}">
            <div class="card-header" role="tab" id="{{ id }}-{{ panel.currentIndex }}">
                {% include toolbox_area_path(areaId, areaTemplateDirectory, 'partial/accordion/title') %}
            </div>
            <div id="collapse-{{ id }}-{{ panel.currentIndex }}" role="tabpanel" aria-labelledby="{{ id }}-{{ panel.currentIndex }}" class="collapse {{ editmode ? 'show' : '' }}" data-parent="#{{ id }}">
                <div class="card-body">
                    {% include '@Toolbox/helper/areablock.html.twig' with {'name': 'accord', 'type' : 'accordion'} %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
