{% set downloadInfo = toolbox_download_info(download, showPreviewImages, 'optimized') %}
<li>
    <a href="{{ downloadInfo.path }}" {{ toolbox_download_tracker('download', download) }} target="_blank">
        {% if showPreviewImages and downloadInfo.hasPreviewImage %}
            <span class="preview-image">
                <img src="{{ downloadInfo.previewImagePath }}" alt="{{ downloadInfo.imageAltText }}"/>
            </span>
        {% endif %}
        <span class="title">{{ downloadInfo.name }}</span>
    {% if showFileInfo %}
        <span class="file-info">(<span class="file-type">{{ downloadInfo.type }}</span>, {{ downloadInfo.size }})</span>
    {% endif %}
    </a>
</li>