{% extends '@Toolbox/snippet_layout.html.twig' %}
{% block snippet_content %}
{% if editmode %}
    <div class="snippet-selector tb-alert-info">
        {% if layoutStore|length > 0 %}
            <label>{{ 'Layout'|trans({}, 'admin') }}: </label>
            {{ pimcore_select('ts_type', {'store' : layoutStore, reload: true, width: 300}) }}<br>
        {% endif %}
        {% if additionalClassesStore|length > 0 %}
            <label>{{ 'Additional'|trans({}, 'admin') }}: </label>
            {{ pimcore_select('ts_add_classes', {'store' : additionalClassesStore, reload: true, width: 300}) }}<br>
        {% endif %}
        <label>{{ 'use Lightbox?'|trans({}, 'admin') }} </label>
        {{ pimcore_checkbox('use_light_box') }}
    </div>
{% endif %}
{% if editmode %}
    <div class="toolbox-element toolbox-teaser {{ pimcore_select('ts_add_classes').getData() }}">
{% endif %}
{% if pimcore_select('ts_type').isEmpty() == false %}
    {% include '@Toolbox/snippet/teaser-' ~ pimcore_select('ts_type').getData() ~ '.html.twig' %}
{% endif %}
{% if editmode %}
    </div>
{% endif %}
{% endblock snippet_content %}