{% for element in elements.elements %}

    {% set imageUrl = element is not null
        ? element.thumbnail(toolbox_get_image_thumbnail('parallax_container_element'))
        : '' %}

    {% set parallaxImageTag = backgroundImageMode == 'style'
        ? 'style="background-image:url('~imageUrl~');"'
        : 'data-background-image="'~imageUrl~'"' %}

    {% set orgWidth = element.width %}
    {% set width = element.thumbnail(toolbox_get_image_thumbnail('parallax_container_element')).width %}
    {% set orgHeight = element.height %}
    {% set height = element.thumbnail(toolbox_get_image_thumbnail('parallax_container_element')).height %}

    <div class="element position-{{ element.property('parallaxPosition') }} size-{{ element.property('parallaxSize') }}"
        {{ parallaxImageTag|raw }}
        data-width="{{ width is empty ? orgWidth : width }}" data-height="{{ height is empty ? orgHeight : height }}"
        data-element-position="{{ element.property('parallaxPosition') }}"
        data-element-size="{{ element.property('parallaxSize') }}">
    </div>

{% endfor %}