{% for element in elements.elements %}

    {% set imageUrl = element.obj is not null
        ? element.obj.thumbnail(toolbox_get_image_thumbnail('parallax_container_element'))
        : '' %}

    {% set parallaxImageTag = backgroundImageMode == 'style'
        ? 'style="background-image:url('~imageUrl~');"'
        : 'data-background-image="'~imageUrl~'"' %}

    {% set orgWidth = element['obj'].width %}
    {% set width = element['obj'].thumbnail(toolbox_get_image_thumbnail('parallax_container_element')).width %}
    {% set orgHeight = element['obj'].height %}
    {% set height = element['obj'].thumbnail(toolbox_get_image_thumbnail('parallax_container_element')).height %}

    <div class="element position-{{ element.parallaxPosition }} size-{{ element.parallaxSize }}"
        {{ parallaxImageTag|raw }}
        data-width="{{ width is empty ? orgWidth : width }}" data-height="{{ height is empty ? orgHeight : height }}"
        data-element-position="{{ element.parallaxPosition }}"
        data-element-size="{{ element.parallaxSize }}">
    </div>

{% endfor %}